//All .sass, .scss, .pug, .jade files that start with an underscore don"t compile. These files just for development

//Inject SVG into page
//name - file name
//modificators - BEM methodology
//BEM type: block
mixin icon(name, modificators)
	if modificators.length == 0
		svg(block="icon__" + name)
			use(xlink:href="#icon-" + name)
	else
		- function modificatorsToString(elementName, modificatorsArray) { let ClassesString = ""; for (var ind = 0; ind < modificatorsArray.length; ind++) { ClassesString = ClassesString + " " + modificatorsArray[ind]; }; return ClassesString; };
		svg(block="icon__" + name mods=modificatorsToString(name, modificators))
			use(xlink:href="#icon-" + name)
